@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.btnsDiv {
  justify-content: space-around;
  width: 100%;
  display: flex;
}
.clock {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.btnsDiv button {
  font-size: 20px;
  margin: 20px;
  color: #fff;
  width: 40%;
  height: 50px;
  border-radius: 0;
  box-shadow: none;
}
.play {
  background-color: #e74c3c;
  border: solid 1px #e74c3c;
}
.play:hover {
  background-color: #fff;
  border: solid 1px #e74c3c;
  color: #e74c3c;
  cursor: pointer;
}
.pause {
  background-color: #2980b9;
  border: solid 1px #2980b9;
  display: none;
}
.pause:hover {
  background-color: #fff;
  border: solid 1px #2980b9;
  color: #2980b9;
  cursor: pointer;
}
.reset {
  background-color: #1abc9c;
  border: solid 1px #1abc9c;
}
.reset:hover {
  background-color: #fff;
  border: solid 1px #1abc9c;
  color: #1abc9c;
  cursor: pointer;
}
